<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Categories</title>
</head>
<body>
    <h2>List of all categories</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Time of Creation</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category: ${categories}">
            <td th:text="${category.categoryName}">Default_Category</td>
            <td th:text="${category.creationDateTime}">Today</td>
            <td><a th:href="@{'/category/edit/' + ${category.id}}">Edit</a> </td>
            <td><a th:href="@{'/category/delete/' + ${category.id}}">Delete</a> </td>
        </tr>
        </tbody>
    </table>
    <p><a href="/category/add">Dodaj nowego studenta</a></p>
</body>
</html>